<a href="https://colab.research.google.com/github/Ksingh2305/CC-coursework/blob/main/assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a dataset as follow in the table.

In [ ]:
import pandas as pd


data = {
    "Tid": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Refund": ["Yes", "No", "No", "Yes", "No", "No", "Yes", "No", "No", "No"],
    "Marital Status": ["Single", "Married", "Single", "Married", "Divorced",
                       "Married", "Divorced", "Single", "Married", "Single"],
    "Taxable Income": ["125K", "100K", "70K", "120K", "95K",
                       "60K", "220K", "85K", "75K", "90K"],
    "Cheat": ["No", "No", "No", "No", "Yes",
              "No", "Yes", "Yes", "No", "Yes"]
}


df = pd.DataFrame(data)


print(df)

   Tid Refund Marital Status Taxable Income Cheat
0    1    Yes         Single           125K    No
1    2     No        Married           100K    No
2    3     No         Single            70K    No
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K   Yes
7    8     No         Single            85K   Yes
8    9     No        Married            75K    No
9   10     No         Single            90K   Yes

From the above table that you have created, locate row 0, 4, 7 and 8 using DataFrame.

In [ ]:
import pandas as pd


data = {
    "Tid": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Refund": ["Yes", "No", "No", "Yes", "No", "No", "Yes", "No", "No", "No"],
    "Marital Status": ["Single", "Married", "Single", "Married", "Divorced",
                       "Married", "Divorced", "Single", "Married", "Single"],
    "Taxable Income": ["125K", "100K", "70K", "120K", "95K",
                       "60K", "220K", "85K", "75K", "90K"],
    "Cheat": ["No", "No", "No", "No", "Yes",
              "No", "Yes", "Yes", "No", "Yes"]
}


df = pd.DataFrame(data)


selected_rows = df.loc[[0, 4, 7, 8]]


print(selected_rows)

Navigate the DataFrame and do the following task for the table created in question 1:
1. Select row from index 3 to 7.
2. Select row from index 4 to 8, and column 2 to 4.
3. Select all rows with column index 1 to 3 (include index 3 during selection).

In [ ]:
import pandas as pd


data = {
    "Tid": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Refund": ["Yes", "No", "No", "Yes", "No", "No", "Yes", "No", "No", "No"],
    "Marital Status": ["Single", "Married", "Single", "Married", "Divorced",
                       "Married", "Divorced", "Single", "Married", "Single"],
    "Taxable Income": ["125K", "100K", "70K", "120K", "95K",
                       "60K", "220K", "85K", "75K", "90K"],
    "Cheat": ["No", "No", "No", "No", "Yes",
              "No", "Yes", "Yes", "No", "Yes"]
}


df = pd.DataFrame(data)


rows_3_to_7 = df.iloc[3:8]
print("Rows from index 3 to 7:")
print(rows_3_to_7)


rows_4_to_8_cols_2_to_4 = df.iloc[4:9, 2:5]
print("\nRows from index 4 to 8 and columns 2 to 4:")
print(rows_4_to_8_cols_2_to_4)


cols_1_to_3 = df.iloc[:, 1:4]
print("\nAll rows with column index 1 to 3:")
print(cols_1_to_3)

Rows from index 3 to 7:
   Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120K    No
4    5     No       Divorced            95K   Yes
5    6     No        Married            60K    No
6    7    Yes       Divorced           220K   Yes
7    8     No         Single            85K   Yes

Rows from index 4 to 8 and columns 2 to 4:
  Marital Status Taxable Income Cheat
4       Divorced            95K   Yes
5        Married            60K    No
6       Divorced           220K   Yes
7         Single            85K   Yes
8        Married            75K    No

All rows with column index 1 to 3:
  Refund Marital Status Taxable Income
0    Yes         Single           125K
1     No        Married           100K
2     No         Single            70K
3    Yes        Married           120K
4     No       Divorced            95K
5     No        Married            60K
6    Yes       Divorced           220K
7     No         Single            85K
8     No        Married            75K
9     No         Single            90K

Read a csv file and display its first five rows.

In [ ]:
import pandas as pd


df = pd.read_csv("your_file.csv")


print(df.head())

FileNotFoundError: [Errno 2] No such file or directory: 'your_file.csv'

From the csv file (uploaded in the Q.4) delete row 4, and delete column 3. Display the
result.

In [ ]:
import pandas as pd

df = pd.read_csv("file.csv")

df = df.drop(4)

df = df.drop(df.columns[2], axis=1)

print(df)

df.to_csv("modified_file.csv", index=False)

Create a sample dataset (employees.csv) containing information about employees in
a company.
Employee_ID Name Department Age Salary Years_of_Experience Joining_Date Gender Bonus Rating
101 Alice HR 29 50000 4 2020-03-15 Female 5000 4.5
102 Bob IT 34 70000 8 2017-07-19 Male 7000 4.0
103 Charlie IT 41 65000 10 2013-06-01 Male 6000 3.8
104 Diana Marketing 28 55000 3 2021-02-10 Female 4500 4.7
105 Edward Sales 38 60000 12 2010-11-25 Male 5000 3.5
WAP to determine the following using dataset in Q6:
a) Shape (number of rows and columns) of the DataFrame.
b) Summary of the DataFrame that includes the data types and non-null counts for
each column.
c) Generate descriptive statistics.
d) Display the first 5 rows and last 3 rows of the dataset.
e) Calculate the following statistics from the dataset:
i. The average salary of employees.
ii. The total bonus paid to all employees.
iii. The youngest employee's age.
iv. The highest performance rating.

f) Sort the DataFrame by the Salary column in descending order.
g) Add a new column that categorizes employees based on their performance rating:

i. Excellent for ratings >= 4.5
ii. Good for ratings >= 4.0 but < 4.5
iii. Average for ratings < 4.0
h) Identify missing values in the DataFrame.
i) Rename the Employee_ID column to ID.
j) Find all employees who:

i. Have more than 5 years of experience.
ii. Belong to the IT department.

k) Modify the dataset by adding a new column, Tax, which deducts 10% of the
Salary.
l) Save the modified DataFrame (with added columns) to a new CSV file.

In [ ]:
import pandas as pd

df = pd.read_csv("employees.csv")

print("Shape of the DataFrame:", df.shape)

print("\nSummary of the DataFrame:")
print(df.info())

print("\nDescriptive Statistics:")
print(df.describe())

print("\nFirst 5 rows:")
print(df.head())

print("\nLast 3 rows:")
print(df.tail(3))

print("\nAverage Salary:", df["Salary"].mean())
print("Total Bonus Paid:", df["Bonus"].sum())
print("Youngest Employee Age:", df["Age"].min())
print("Highest Performance Rating:", df["Rating"].max())

df_sorted = df.sort_values(by="Salary", ascending=False)
print("\nData sorted by Salary in descending order:")
print(df_sorted)

def categorize_performance(rating):
    if rating >= 4.5:
        return "Excellent"
    elif rating >= 4.0:
        return "Good"
    else:
        return "Average"

df["Performance_Category"] = df["Rating"].apply(categorize_performance)

print("\nMissing values in DataFrame:\n", df.isnull().sum())

df.rename(columns={"Employee_ID": "ID"}, inplace=True)

exp_5_years = df[df["Years_of_Experience"] > 5]
print("\nEmployees with more than 5 years of experience:")
print(exp_5_years)

it_department = df[df["Department"] == "IT"]
print("\nEmployees in IT Department:")
print(it_department)

df["Tax"] = df["Salary"] * 0.1

df.to_csv("modified_employees.csv", index=False)

print("\nModified dataset saved as modified_employees.csv")