<a href="https://colab.research.google.com/github/Ksingh2305/CC-coursework/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [2]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

In [3]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.remove(10)
L.remove(30)
print(L)

[20, 40, 50, 60, 70, 80]

In [5]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.sort()
print(L)

[10, 20, 30, 40, 50, 60, 70, 80]

In [4]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.sort(reverse=True)
print(L)

[80, 70, 60, 50, 40, 30, 20, 10]

Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [6]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
highest_score = max(scores)
highest_index = scores.index(highest_score)
print("Highest score:", highest_score)
print("Index of highest score:", highest_index)

Highest score: 92
Index of highest score: 5

In [7]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
lowest_score = min(scores)
lowest_count = scores.count(lowest_score)
print("Lowest score:", lowest_score)
print("Count of lowest score:", lowest_count)

Lowest score: 45
Count of lowest score: 2

In [8]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
reversed_scores = list(scores[::-1])
print("Reversed tuple as list:", reversed_scores)

Reversed tuple as list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]

In [10]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
user_score = float(input("Enter a score to check if it is present: "))
if user_score in scores:
    first_occurrence = scores.index(user_score)
    print(f"Score {user_score} is present at index {first_occurrence}.")
else:
    print(f"Score {user_score} is not present in the tuple.")

Enter a score to check if it is present: 45
Score 45.0 is present at index 0.

WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [11]:
import random
import math

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            return False
    return True

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = [num for num in random_numbers if num % 2 != 0]
even_numbers = [num for num in random_numbers if num % 2 == 0]
prime_numbers = [num for num in random_numbers if is_prime(num)]

print(f"Odd numbers count: {len(odd_numbers)}")
print(f"Even numbers count: {len(even_numbers)}")
print(f"Prime numbers count: {len(prime_numbers)}")

Odd numbers count: 47
Even numbers count: 53
Prime numbers count: 19

Consider the following two sets, A and B, represenƟng scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaƟons using set funcƟons:
i. Find the unique scores achieved by both teams (union of sets).
ii. IdenƟfy the scores that are common to both teams (intersecƟon of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [12]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

union_scores = A.union(B)
print("Unique scores (Union of sets):", union_scores)

common_scores = A.intersection(B)
print("Common scores (Intersection of sets):", common_scores)

exclusive_scores = A.symmetric_difference(B)
print("Exclusive scores (Symmetric Difference):", exclusive_scores)

is_A_subset_B = A.issubset(B)
is_B_superset_A = B.issuperset(A)
print("Is team A's scores a subset of team B?", is_A_subset_B)
print("Is team B's scores a superset of team A?", is_B_superset_A)

X = int(input("Enter a score to remove from team A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from team A.")
else:
    print(f"Score {X} is not present in team A.")

Unique scores (Union of sets): {34, 45, 78, 23, 56, 90}
Common scores (Intersection of sets): {90, 78}
Exclusive scores (Symmetric Difference): {34, 45, 23, 56}
Is team A's scores a subset of team B? False
Is team B's scores a superset of team A? False
Enter a score to remove from team A: 45
Score 45 is not present in team A.

Write a program to rename a key city to a locaƟon in the following dicƟonary.

In [13]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Rename key 'city' to 'location'
sample_dict["location"] = sample_dict.pop("city")

print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}